<!-- Header -->
<div class="relative bg-red-600 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="PRODUCTOS"
            statTitle="35"
            statArrow="up"
            statPercent="3.48"
            statPercentColor="text-emerald-500"
            statDescripiron=""
            statIconName="fas fa-boxes"
            statIconColor="bg-red-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="CLIENTES"
            statTitle="84"
            statArrow="down"
            statPercent="3.48"
            statPercentColor="text-red-500"
            statDescripiron=""
            statIconName="fas fa-users"
            statIconColor="bg-orange-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="VENTAS"
            statTitle="94"
            statArrow="down"
            statPercent="1.10"
            statPercentColor="text-orange-500"
            statDescripiron=""
            statIconName="fas fa-cash-register"
            statIconColor="bg-pink-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="COMPRAS"
            statTitle="102"
            statArrow="up"
            statPercent="12"
            statPercentColor="text-emerald-500"
            statDescripiron=""
            statIconName="fas fa-shopping-cart"
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>
