<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Ventas</h5>
                  <span class="h2 font-weight-bold mb-0">350</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-right text-sm">
                <span class="text-nowrap">Actualizar</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Clientes</h5>
                  <span class="h2 font-weight-bold mb-0">56</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-right text-sm">
                <span class="text-nowrap">Actualizar</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Proveedores</h5>
                  <span class="h2 font-weight-bold mb-0">24</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-right text-sm">
                <span class="text-nowrap">Actualizar</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Productos</h5>
                  <span class="h2 font-weight-bold mb-0">494</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-right text-sm">
                <span class="text-nowrap">Actualizar</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">

  <div class="card shadow">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Productos bajos en stock</h3>
        </div>
        <div class="col text-right">
          <a class="btn btn-sm btn-primary">Actualizar</a>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <!-- Projects table -->
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombres</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
            <th scope="col">Proveedor</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>209383848</td>
            <td>Pantalon Jeans</td>
            <td>2</td>
            <td>$17,00</td>
            <td>Empresa S. A</td>
            <td>
            </td>
          </tr>
          <tr>
            <td>209383848</td>
            <td>Pantalon Jeans</td>
            <td>1</td>
            <td>$17,00</td>
            <td>Empresa S. A</td>
            <td>
            </td>
          </tr>
          <tr>
            <td>209383848</td>
            <td>Pantalon Jeans</td>
            <td>3</td>
            <td>$17,00</td>
            <td>Empresa S. A</td>
            <td>
            </td>
          </tr>
          <tr>
            <td>209383848</td>
            <td>Pantalon Jeans</td>
            <td>3</td>
            <td>$17,00</td>
            <td>Empresa S. A</td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>

  <div class="card shadow">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Clientes nuevos en este mes</h3>
        </div>
        <div class="col text-right">
          <a class="btn btn-sm btn-primary">Actualizar</a>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <!-- Projects table -->
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Cédula</th>
            <th scope="col">Nombres</th>
            <th scope="col">Celular</th>
            <th scope="col">Email</th>
            <th scope="col">Teléfono</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1209374433</td>
            <td>Ricardo Peñafiel</td>
            <td>098788976</td>
            <td>ricardo@gmail.com</td>
            <td>87657</td>
            <td>
            </td>
          </tr>
          <tr>
            <td>1209374433</td>
            <td>Ricardo Peñafiel</td>
            <td>098788976</td>
            <td>ricardo@gmail.com</td>
            <td>87657</td>
            <td>
            </td>
          </tr>
          <tr>
            <td>1209374433</td>
            <td>Ricardo Peñafiel</td>
            <td>098788976</td>
            <td>ricardo@gmail.com</td>
            <td>87657</td>
            <td>
            </td>
          </tr>
          <tr>
            <td>1209374433</td>
            <td>Ricardo Peñafiel</td>
            <td>098788976</td>
            <td>ricardo@gmail.com</td>
            <td>87657</td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>

</div>